@media screen and (max-width: 1168px) {
nav{
    margin-left: 0;
}
.first_cont{
 max-width: 900px;
  margin: 0 auto;
}
.first_section_left{
  padding-right: 100px;
}
.first_section_left h2{
  margin-top: 100px;
  font-size: 200%;
}
.first_section_right img{
  width: 300px;
}
}

@media screen and (max-width: 1053px) {
.input_con{
    width: 150px;
}
}
@media screen and (max-width: 905px) {
  .footer_cont{
    flex-direction: column;
  }
  .footer_center{
    margin: 50px 0;
  }
  /* .footer_left{
    align-items: center;
    text-align: center;
  } */
  nav {
    display: none;
  }

  .hamb_menu {
    display: block;
  }

  .header-container {
    justify-content: normal;
  }

  .first_cont{
    max-width: 600px;
  }
  .first_section_left{
    padding-right: 30px;
  }
  .first_section_left h2{
    margin-top: 100px;
    font-size: 150%;
  }
  .first_section_right img{
    width: 300px;
  }
.left_buttons{
  flex-direction: column;
  width: 140px;
  text-align: center;
}
.left_buttons .get{
padding: 10px;
}
.left_buttons .create{
  padding: 10px;
}
}
@media screen and (max-width: 605px) {
.first_cont{
  flex-direction: column-reverse;
  text-align: center;
}
.first_section_left h2{
margin-top: 0;
}
.left_buttons{
justify-content: center;
margin: 50px auto;
}
.seller_card{
margin:0 auto;
}
}
@media screen and (max-width: 516px) {
  .menu-search {
    display: block;
  }

  .header-container-right .input_con {
    display: none;
  }
}
